.App {
  /* text-align: center; */
  margin: 20px;
}

.btn {
  margin-top: 5px;
}

/* .post-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
} */

.post-buttons .btn {
  text-decoration: none;
}

.container-post {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
}

.post-description{
  margin: 10px;
}

.comments-container{
  margin: 10px;
}

.dashed-line{
  border: none;
  border-top: 1px dotted black;
  color: #fff;
  background-color: #fff;
  height: 1px;
}